<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/js/script.js" />
    <title>Home</title>
  </head>
  <body>
    <form class="width-50 w3-container" action="/create-new-user" method="POST">
      <h2>CREATE USER</h2>
      <p>
        <label>First Name</label>
        <input class="w3-input" type="text" name="firstName" />
      </p>
      <p>
        <label>Last Name</label>
        <input class="w3-input" type="text" name="lastName" />
      </p>
      <p>
        <label>Email</label>
        <input class="w3-input" type="email" name="email" />
      </p>
      <p>
        <label>Address</label>
        <input class="w3-input" type="text" name="address" />
      </p>

      <div class="">
        <button class="w3-button w3-teal" type="submit">Submit</button>
      </div>
    </form>
  </body>
</html>
